<% if @merchant_files.size > 0 %>
  <h2>Uploaded merchant files</h2>
  <table class="table">
    <tr>
      <th>Merchant File</th>
      <th>Uploaded At</th>
      <th>Gross Revenue</th>
    </tr>
    <% @merchant_files.each do |mf| %>
      <tr>
        <td><%= mf.name %></td>
        <td><%= mf.created_at %></td>
        <td><%= number_to_currency mf.total %></td>
      </tr>
    <% end %>
  </table>
<% end %>
